/* pre, code & blockquotes *********************************************************************/
pre, code {
    background: $color-light;
    padding: 0.2em;    
}

pre {
    padding: 1em;
    overflow: scroll;
    font-size: 1em;
}

blockquote {
    border-left: 0.5em solid $color-medium;
    padding: 0.5rem;
    padding-left: 1em;
    margin: 0 10%;
    background-color: $color-light;
}

/***** Tables *********************************************************************************/
table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5em;
}   

tr, td, th, tfoot {
    background-color: $color-light;
    padding: 0.5rem;
    white-space: nowrap;
}

th {
    font-weight: bold;
    background-color: $color-medium;
    color: $color-white;
}

tfoot td {
    border-top: 0.25em double $color-dark;
    font-weight: bold;
}

figure.table
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

/* iframes ************************************************************************/
.iframe-wrap {
    position: relative;
    padding-bottom: 100%; // This the aspect ratio you can change. 100% = square
    height: 0;
    overflow: hidden;
}

.iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}