// Full-width wrapper to centre content on screen
.wrap {
	max-width: $max-wrap-width;
	margin: 0 auto;
	padding: 0;
}

// Column layouts with 2% space between columns
@include columns(4, 2); //4-column layout with 2% margin
@include columns(3, 2); //4-column layout with 2% margin
@include columns(2, 2); //4-column layout with 2% margin
@include columns(1, 2); //4-column layout with 2% margin

// Column layouts with no space between columns
@include grid(4);
@include grid(3);
@include grid(2);
@include grid(1);

// Rows (generic container)
.row {
	overflow: hidden; 
	padding:0; 
	@include mq(tablet) { padding: 0 0.5em; }
	@include mq(phone) { padding: 0 0.5em; }
	margin: 0 auto;
	max-width: $max-wrap-width; 
}

// Basic style classes
.center {
	text-align: center;
}

.bordered {
	border: 1px solid $color-medium;
}

.shaded {
	background-color: $color-light;
}

// Sections
.site-title {
    text-shadow: 3px 3px $color-medium;
    font-size: 2em;
    vertical-align: middle;
	float: left;
	margin: 0.1em 0;
	padding-left: 0.5em;
	@include mq(phone) { }
}

header {
	background-color: $color-light;
	//box-shadow: 3px 3px 3px $color-dark;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 100;
}

main {
	margin-top: 3.4231em;
}

nav {
	text-align: right;
	list-style: none;
	float: right;
	margin: 1em 0;
	vertical-align: middle;
	@include mq(phone) { 
		float: none;
		text-align: center;
		margin: 0;
	}
}

#menu {
	@include mq(phone) { 
		display: none; 
		clear: both;
	}
}

nav li { 
	display: inline; 
	margin-left: 1em;
	@include mq(tablet) {}
	@include mq(phone) { 
		display: block; 
		width: 100%; 
		margin: auto auto;
		padding: 0.5em 0; 
		border-top: 1px dotted $color-white;
	}
}

#menu-button {
	float: right;
	display: none;
	vertical-align: middle;
	font-size: 1.5em;
	margin: 0.5em;
	padding-right: 0.5em;
	@include mq(phone) { display: block; }
}

section {
	margin: 1em 0;
	clear: both;
}

.bg-banner {
	background: url('images/taxi.jpg');
	background-size: cover;
	min-height: 20em;
}

.banner-overlay {
	margin: 0 auto;
	position: relative;
	top: 50%;
	width: 50%;
	color: $color-white;
	text-shadow: 3px 3px 3px $color-dark;
}

aside {

}

footer {
	margin-top: 1em;
	padding: 0.5em;
	background-color: $color-light;
}
