// Font size ratios reference

// Traditional = 0.5833, 0.8333, 1, 2, 3, 4 ...
// 3:5 Doubled = 0.375, 0.625, 1, 1.625, 3, 4.25, [6.875]
// 3:5 Fibonacci = ... 0.6154, 1, 1.6154, 2.6154, 4.2308, [6.8462]
// 4:7 Finbonacci = ... 0.6154, 1, 1.6364, 2.6364, 4.2727, [6.9091]
// Le Corbusier = 0.6154, 0.8077, 1, 1.3077, 2.1154, 3.4231, [5.5386]

// Base font
html {
	font-family: $base-font-family-sans;
	line-height: $base-line-height;
	font-size: $base-font-size-small;
	@include mq(tablet) { font-size: $base-font-size-medium; }
	@include mq(desktop) { font-size: $base-font-size-large; }
}

// Set vertical margins to space out type
h1,h2,h3,h4,h5,h6 { margin: 0.5em 0; }
p { margin: 1em 0; }

// Headings
h1 {
	font-size: 3.4231em;
}

h2 {
	font-size: 2.1154em;
}

h3 {
	font-size: 1.3077em;
}

// Paragraph & default div
p {
	font-family: $base-font-family-serif;
	font-size: 1em;
}

.small-text {
	font-size: 0.8077em;
}

footer p {
	font-size: 0.6154em;
	font-family: $base-font-family-sans;
}

// misc text-holding elements
pre, code { font-family: $base-font-family-mono; }

blockquote { 
	font-family: $base-font-family-serif;
	font-style: italic;
}

figcaption, caption {
    font-style: italic;
    padding: 0.5em;
    text-align: center;
    font-size: 0.8077em;
}

caption { 
    font-size: 1em; 
    font-style: normal;
    font-weight: bold;
}