////// Import Fonts
//@import url(http://fonts.googleapis.com/css?family=Lustria|Voces);
//@import url(http://weloveiconfonts.com/api/?family=fontelico);

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Default font variables
$font-serif: Georgia, serif;
$font-sans: Arial, Helvetica, sans-serif;
$font-mono: monospace;