//  Break points for various devices
$iphone: 320px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;

// Mixins for responsive design
$break-small: 500px;
$break-large: 960px;

@mixin mq($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}
/*
.example-usage {
  float: left;
  width: 250px;
  @include mq(small) { width: 100% ;}
  @include mq(medium) { width: 125px; }
  @include mq(large) { float: none; }
}
*/
// Mixin for columns
@mixin columns($columns, $margin-percentage) {
  .columns-#{$columns} {
    width: (100/$columns - $margin-percentage + $margin-percentage/$columns) * 1%;
    margin-right: $margin-percentage * 1%;
    display: block;
    float: left;
    clear: none;
    vertical-align: top;
    @include mq(small) { width: (100 - $margin-percentage)*1%; float: none; margin: 0.5*$margin-percentage*1% auto; }
  }
  .columns-#{$columns}:last-child { 
    margin-right: 0;
    @include mq(small) {margin: 0.5*$margin-percentage*1% auto;}
    }
}

.row {overflow: hidden; padding:0; margin: 0;} //needed to contain columns