/***** Overall Sizing */
$base-rem: 110%;

/***** Fonts */
$serif-font: serif;
$sans-font: cursive;

$base-font: $serif-font;

/***** Colour Scheme */
$darkest: #5C4D7F;
$dark: #77737F;
$med: silver;
$pale: #BEB9CC;
$palest: #EEE7FF;