/***** @imports *********************************************************************************/
@import 'variables';
@import 'mixins';
@import 'layout';
@import url(http://fonts.googleapis.com/css?family=Lustria|Voces);
@import url(http://weloveiconfonts.com/api/?family=fontelico);

/***** top-level elements *********************************************************************************/
html {
	font-size: $base-rem;
	font-family: $base-font;
}

div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	padding: 20px;
	margin: 0;
}

/*img {
	width: 100%;
}*/

hr {
    border: 0;
    border-bottom: 5px dashed $darkest;
    background: $palest;
}

/* fontelico - courtesy of http://weloveiconfonts.com/ */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/***** Typography *********************************************************************************/
p {
	@include font-size(1);
	line-height: 2rem;
}

a {
	color: $darkest;
}

a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $sans-font;
	color: $darkest;
	line-height: 100%;
}

h1 {
	@include font-size(5);
}

h2 {
	@include font-size(3);
}

h3 {
	@include font-size(2);
}

h4 {
	@include font-size(1.5);
}

h5 {
	@include font-size(1);
}

h6 {
	@include font-size(0.8);
}

code {
	background: $palest;
	padding: 0.2rem;
	font-size: 1rem;
}

blockquote {
	border-left: 0.5rem solid $darkest;
	padding-left: 1rem;
	@include font-size(1);
	line-height: 2rem;
	font-family: $sans-font;
	font-style: italic;
	margin: 0 15%;
	background-color: $palest;

}
/***** Sections *********************************************************************************/
header {
	color: $palest;
	overflow: auto;
	zoom: 1;
}

header h1 {
	color: $palest;
}

.logo {
	float: left;
}
.title {
	float: right;
}

.strapline {
	clear: both;
}


footer a, footer p {
	color: $palest;
	font-family: $sans-font;
}

footer {
	overflow: auto;
	zoom: 1;
}

.footer-links {
	float: left;
}

.cc {
	float: right;
	text-align: right;
}

/***** Media Queries *********************************************************************************/
@import 'media';