/***** @imports *********************************************************************************/
@import 'vendor/all';
@import 'modules/all';
@import 'partials/all';


// For testing only
img { max-width: 100%; }

div { border: solid 1px gray; box-sizing: border-box; padding: 1em;}

@include columns(4, 2);